/* style */

*{
  margin: 0px;
  padding: 0px;
}

section {
  display: flex;
  margin: auto;
  width: 100vw;
    height: 100vh;
}

#playground_face{
  width: 60%;
  height: 100%;
  background-color: #FBAB7E;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#playground_dos {
  width: 60%;
  height: 100%;
  background-color: #FBDA61;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}


aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: #8EC5FC;
  flex-wrap: wrap;
}

.box {
  width: 100px;
  height: 100px;
}

.moving {
  position: fixed;
}

#playground_face .button {
  width: 80px;
  height: 80px;
}

#playground_face .poche{
  width: 80px;
  height: 80px;
}


#playground_dos .button {
  width: 80px;
  height: 80px;
}


#playground_dos .poche{
  width: 80px;
  height: 80px;
}


#playground_face .zipper{
  width: 80px;
  height: 80px;
}


#playground_dos .zipper {
  width: 80px;
  height: 80px;
}

button{
  padding: 8px 16px;
  background-color:transparent;
  color: white;
  border: 2px solid grey; 
}

button:hover{
  padding: 8px 16px;
  background-color: grey;
  border: 2px solid grey;
  cursor:pointer ;
}

img{
  color: white;
}

#export {
  background-color: orange; 
}
#export:hover {
  background-color: aqua;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
}

.popup {
  margin: 20% auto;
  width: 70%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 15px 20px 0 rgba(0,0,0,0.5);
  padding: 1em;
  cursor: pointer;
}

.btnClose{
  float: right;
  cursor: pointer;

}

.valider{
  color: blue;
}


.bigger{
  transform: scale(1.5);
}


.poche{
width: 10%;
height: 10%;
}


@media only screen and (max-width: 674px){
  aside{
    background: #8EC5FC;
    width: 100%;
    height: 1200px;
    flex-direction: row;
    transition: all 0.7s ease-in-out;
  }

  #playground_face{
    width: 100%;
    height: 300%;
    background-color: #FBAB7E;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  #playground_dos {
    width: 100%;
    height: 100%;
    background-color: #FBDA61;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }

  section {
    flex-direction: column;  
    width: 100vw;
    height: 100vh;
  }

  #playground_face .button {
    width: 80px;
    height: 80px;
  }
   
  #playground_dos .button {
    width: 80px;
    height: 80px;
  }
  
  #playground_face .poche{
    width: 80px;
    height: 80px;
  }
  
  #playground_dos .poche{
    width: 80px;
    height: 80px;
  }


  #playground_face .zipper{
    width: 80px;
    height: 80px;
  }
  
  
  #playground_dos .zipper {
    width: 80px;
    height: 80px;;
  }

  .coucou {
    display: flex;
    flex-direction: row;
  }

}